body {
  background-color: #444;
  color: #ffffff;
}

table {
  margin: 3em auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 120px 0px #000;
}

td {
  color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
}

tr:nth-child(even) td:nth-child(even) {
  background-color: #bdbdbd;
}
tr:nth-child(odd) td:nth-child(odd) {
  background-color: #bdbdbd;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: #868686;
}
tr:nth-child(even) td:nth-child(odd) {
  background-color: #868686;
}


.color-black {
  color: #000;
}

.color-white {
  color: #FFF;
}

.selected {
  background-color: #78ff7887 !important;
}

.possible {
  background-color: #9ad697 !important;
}
